[phases.setup]
nixPkgs = ["php82", "php82Packages.composer"]

[phases.install]
cmds = [
    "cd backend/distrijarca-api && composer install --no-dev --optimize-autoloader"
]

[phases.build]
cmds = [
    "cd backend/distrijarca-api && php artisan config:cache",
    "cd backend/distrijarca-api && php artisan route:cache",
    "cd backend/distrijarca-api && php artisan view:cache"
]

[start]
cmd = "cd backend/distrijarca-api && php artisan migrate --force && php artisan storage:link && php artisan serve --host=0.0.0.0 --port=${PORT:-8000}"
