[phases.setup]
nixPkgs = ["php82", "php82Packages.composer"]

[phases.install]
dependsOn = ["setup"]
cmds = ["cd backend/distrijarca-api && composer install --no-dev --optimize-autoloader"]

[phases.build]
dependsOn = ["install"]
cmds = ["cd backend/distrijarca-api && php artisan config:cache && php artisan route:cache && php artisan view:cache"]

[start]
cmd = "cd backend/distrijarca-api && php artisan migrate --force && php artisan db:seed --class=UserSeeder --force && php artisan storage:link && php -S 0.0.0.0:${PORT:-8000} -t public"
